.inputDisplay {
    border: 1px solid #ddd;
    border-radius: 1px;
    height: 100px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: right;
    margin-right: 6px;
    font-size: 2.5rem;
}

.calculator .buttonContainer {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.calculator button {
    width: 4rem;
    font-size: 2.5rem;
    display: inline-block;
    background-color: #f9f9f9;
    text-align: center;
    margin: 10px 4px 10px 0;
    padding: 10px;
    border-radius: 1px;
}

.equal {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 6;
    background-color: blue;
}

.calculator {
    width: 30vh;
    height: 60vh;
    display: flex;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: auto;
    align-items: center;
}
